.cal-picker {
  width:250px;
  margin-bottom: 15px;
}
.cal-picker input {
  padding-left:10px;
  font-size: 16px;
  font-family: inherit;
  height: 33px;
  width: 238px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
