!!! 5
%html
  %head
    %title FX-u-like
    %script{ src: "/bundle.js?#{Time.now.to_i}", type: 'text/javascript' }
    %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css", :rel => "stylesheet"}/
    %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css", :rel => "stylesheet"}/
    %link{:href => "https://unpkg.com/react-select/dist/react-select.css", :rel => "stylesheet"}/
  %body
    %header.page-header
      .container
        %h1 FX-u-like
    .page-body
      .container
        = yield
